*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Paytone+One&display=swap');
body{
    background-color: #34044a;
    color: white;
}
/*Nav and header*/
header{
    display: grid;
    grid-template-columns: 1fr 7fr 1.4fr;
    grid-template-rows: 9rem;
    margin: .15rem 3rem;
}
#logo{
    display: flex;
    justify-content: center;
    width: 98%;
}
#logo img{
    width: auto;
    height: 100%;
}
nav{
    align-content: center;
    z-index: 1;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.csv-download{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    color: white;
    list-style-type: none;
    padding: 0 2.5rem;
    font-family: "Arvo", serif;
    font-weight: 700;
    letter-spacing: .08em;
    font-style: normal;
}
li a{
    color: #fff;
    text-decoration: none;
}
li a:hover{
    color: rgb(139, 0, 139, 50%);
}
.csv-download button{
    width: 125px;
    height: 30px;
    color: white;
    border: solid 1px white;
    background-color: #34044a ;
    border-radius: 10rem;
    font-family: "Arvo", serif;
    font-weight: 700;
    letter-spacing: .08em;
    font-style: normal;
}
.csv-download button:hover{
    border: solid 3px white;
    cursor: pointer;
}

/*Home page area*/
#home{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 22rem;
    margin: 0rem 5rem;
    gap: 5px;
    font-family: "Arvo", serif;
    font-weight: 700;
    letter-spacing: .08em;
    font-style: normal;
    color: white;
}
#home-info{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 5px;
}
#home-info strong{
    font-size: 40px;
    margin: 15px 0px;
}
#home-info button{
    height: 2rem;
    width: 10rem;
    border-radius: 3rem;
    margin-top: 20px;
    color: white;
    border: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(104,8,141,1) 48%, rgba(252,0,255,1) 100%);
}
#home-video{
    background-image: url(klipartz.com.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
#home-video video{
    width: 350px;
    box-shadow: inset -9px 9px 80px 50px rgba(0,0,0,0.6), -9px 2px 80px 50px rgba(0,0,0,0.6);
    border-radius: 12rem;
}

/*About me area of page*/
#about{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 30rem;
    margin: 3rem 5rem;
    border-radius: 2rem;
    box-shadow: 0px 2px 5px 3px black;
    background-color: #390451;
}
#about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 5rem;
    font-family: "Arvo", serif;
    font-weight: 700;
    letter-spacing: .08em;
    font-style: normal;
    text-decoration: none;
}
#header{
    font-size: 36px;
    margin-bottom: 1.3rem;
}
#about-photo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 35rem 15rem;
    box-shadow: inset -9px 9px 60px 20px hsl(330, 76%, 26%), -5px 5px 90px 8px hsl(330, 76%, 26%);
    background-color: rgb(222, 2, 182, 10%);
}
#about-photo img{
    width: 75%;
    height: 70%;
    border-radius: 15%;
    box-shadow: -.2rem -.2rem .9rem .2rem black;
}
#about-photo a{
    color: aliceblue;
    font-family: "Arvo", serif;
    font-weight: 700;
    letter-spacing: .08em;
    font-style: normal;
    text-decoration: none;
}
#about-info p{
    font-size: 16px;
    letter-spacing: .9px;
    word-spacing: 1px;
    display: flex;
    overflow: hidden; /* Hide overflowing content */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 180px;
}
#about-info p:hover{
    cursor: pointer;
}
#about-info p::-webkit-scrollbar{
    background-color: rgb(202, 11, 202, 70%);
    border: solid 1.5px rgb(192, 192, 192);
    border-radius: 1rem;
}
#about-info p::-webkit-scrollbar-thumb{
    background-color: rgb(117, 16, 66, 50%);  
    border-radius: 5rem;
}
.icon img{
    height: 1.5rem;
}
#social-media {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}
#social-media li {
    list-style: none;
    margin-left: -2.5rem;
}
#skills {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}
#skills li{
    list-style: none;
    border: solid 1.5px rgb(67, 65, 65);
    border-radius: 3rem;
    margin: .1rem .1rem;
    font-size: 15px;
}
#about-info label{
    font-size: 20px;
}
#experience .time-worked{
    display: flex;
    color: rgb(138, 43, 226,70%);
    justify-content: right;
    margin-bottom: .5em;
}

#experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#experience h1{
    margin: 0.3em;
    font-size: 2.2em;
}
#second-h1{
    display: flex;
}
#second-h1 img{
    padding-right: .5em;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title p{
    color: rgb(162, 43, 144);
    font-size: 1em;
    letter-spacing: 1px;
}
.title p::before, .title p::after{
    content: '';
    height: .1em;
    background-color: rgb(162, 43, 144);
    display: block;
}
.title p{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1.6rem;
}
.timeline{
    margin: 2em auto;
    max-width: 34.15em;
}
.checkpoint{
    max-width: 25.15em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint p{
    line-height: 18px;
    color: rgb(240, 248, 255);
    margin-top: .2em;
}
/*alignment for the timeline to meet in the middle for a vertical line*/
.checkpoint:nth-child(odd){
    border-left: 3px solid  rgb(162, 43, 144, 50%);
    padding-left: 3em;
    transform: translateX(14.07em);
}
.checkpoint:nth-child(even){
    border-right: 3px solid  rgb(162, 43, 144, 50%);
    padding-right: 3em;
    transform: translateX(-14.07em); 
}
/*line that connects the job description box to the timeline*/
.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
    content: '';
    background-color: rgb(162, 43, 144, 50%);
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.checkpoint:nth-child(odd)::before{
    left: 0;
}
.checkpoint:nth-child(even)::before{
    right: 0;
}
/*the circles on the timeline*/
.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
    content: '';
    background: rgb(162, 43, 144, 90%);
    box-shadow: 0 0 0.5em #fff;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}
.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}
/*Project area*/
#projects h1{
    margin: .2em;
}
/*Contact area*/

#contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20rem;
    margin: 1em auto; /* Centers the container horizontally */
    width: 65rem;   /* Sets the width to 50rem */
}
#contact-image-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
#contact-image1{
    width: 50px;
    padding: .9em;
    border-radius: 3rem;
    box-shadow: inset 1em 2em 1em 0em rgb(255, 0, 255, 20%), 0em 0em 2em .5em rgb(65, 105, 225,80%);
    margin-left: 10em;
    margin-top: 2em;
}
#contact-image2{
    width: 40px;
    box-shadow: inset 1em 2em 1em 0em rgb(255, 0, 255, 20%), 0em 0em 2em 0em rgb(65, 105, 225,80%);
    padding: 2em;
    border-radius: 3rem;
    margin-bottom: 2em;
    margin-right: 5em;

}
#contact-image3{
    width: 40px;
    box-shadow: inset 1em 2em 1em 0em rgb(255, 0, 255, 20%), 0em 0em 2em 0em rgb(65, 105, 225,80%);
    padding: 2em;
    border-radius: 3rem;
    margin-left: 5em;
}
#contact-image4{
    width: 40px;
    box-shadow: inset 1em 2em 1em 0em rgb(255, 0, 255, 20%), 0em 0em 2em 0em rgb(65, 105, 225,80%);
    padding: 1.5em;
    border-radius: 3rem;
    margin-bottom: 2em;
    margin-right: 7em;
}

#contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 3em;
}
form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-input{
    width: 300px;
    height: 30px;
    border: solid 2px rgb(42, 1, 42);
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: white;
    border-radius: 50px;
    background-color: rgba(173, 16, 134, 20%);
}
#contact-form textarea{
    height: 120px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-input:focus{
    border: 2px solid fuchsia;
}
.contact-input::placeholder{
    color: aliceblue;
}
form button{
    display: flex;
    align-items: center;
    padding: 5px 25px;
    font-size: 12px;
    color: blueviolet;
    gap: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}